# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.suo

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.bsc
*.dep
*.exp
*.idb
*.ilk
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.lock
*.log
*.manifest
*.map
*.meta
*.opt
*.pdb
*.pgc
*.pgd
*.plg
*.res
*.rsp
*.cod
*.codeanalysis
*.sbr
*.tlb
*.tlog
*.tmp
*.vcproj.*.*.user
BuildLog.htm